// --------------  FOOTER-ADDRESS  ------------ 
.footer__address {
    text-align: center;
    // width: 230px;
}

.address {
    padding-top: 20px;
    text-align: center;
    font-style: normal;
    line-height: 1.71;
    color: #ffffff;
}

.address__list {
    list-style: none;
}

.address__link {
    display: inline-block;
    padding-top: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

//     transition: color $duration $timing-function;

//     &:hover,
//     &:focus {
//         color: $color-accent;
//     }
}