// --------------  FOOTER  --------------- 
.footer {
    padding: 60px 0;
    background: $color-bcg-accent;
}

.footer__container {
    @extend .container;

    @media screen and (min-width: 768px) { 
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
//    
//     
}

