// ----------  ЧЕМ МЫ ЗАНИМАЕМСЯ  -----------
.section__whatwedo {
    @extend .section;
        
    @media screen and (max-width: 1199px) {
            display: none;
        }
    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.whatwedo {   
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
        
}

.whatwedo__thumb {
    position: relative;
}

.whatwedo__label {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
}