$color-primary: #212121;
$color-accent: #2196f3;
$color-secondary: #757575;
$color-bcg: #f5f4fa;
$color-bcg-accent: #2f303a;
$duration: 300ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$portfolio-gap: 30px;
$gap: 30px;
$font-basic: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;

